::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 6px; 
}

/* / Main Container / */
.shaktipeeth {
    display: flex;
    margin: 20px auto;
    border: 2px solid red;
}

/* / Left Section / */
.shaktipeeth_left {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background: rgba(148, 210, 210, 0.421);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shaktipeeth-main img{

    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}


.shaktipeeth_content{
    padding: 10px;
}

.shaktipeeth_content p {
   margin-bottom: 00;
   font-size: 14px;
   margin-top: 10px;
}


.shaktipeeth_left-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 00 auto;
  
}

.shaktipeeth_left-button button {


    border: none;
    border-radius: 2px;

    background: #22222263;

    transition: 0.5s;
    margin: 00 10px;
    padding: 5px;
    color: #fff;
}

.shaktipeeth_left-button button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: #57565663;
}

/* / Right Section / */
.shaktipeeth_right {
    width: 60%;
    margin: 00 auto;
    border: 2px solid green;
}



.shaktipeeth_right-heading{


    font-weight: 500;
    font-size: 28px;
    margin: 0;
}

/* / Scrollable Section / */
.shaktipeeth_list {
    padding: 5px;
    overflow-y: hidden;
    margin: 10px 00;
}

/* / Card Container / */
.shaktipeeth_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

/* / Card Styling / */
.shaktipeeth_card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    background: rgba(148, 210, 210, 0.421);
    transition-duration: 0.5s;
    cursor: pointer;
    /* margin: 20px 00; */
    margin: 00 00 20px 00;

}

.shaktipeeth_card h2 {
    margin-top: 10px;
    font-size: medium;
    text-align: center;
}

.shaktipeeth_card p {
    font-size: smaller;
    margin-top: 10px;
    padding: 5px;
    overflow-y: hidden;
}

.shaktipeeth_card img {
    width: 100%;
    height: 350px; 
    border-radius: 5px;
    object-fit: cover; 
}
.shaktipeeth_card > * {
    margin-top: 1px;
}

.shaktipeeth_card:hover {
    transform: scale(1.05);
    z-index: 4;
}

.shaktipeeth_card button {
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    background: #22222243;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 18px;
}




/* Tab  */
@media (max-width: 768px) {
    .shaktipeeth_left {
        width: 90%;
    }
    .shaktipeeth_right {
        width: 100%;
    }
    .shaktipeeth_content {
        width: 100%;
    }
    .shaktipeeth-button button {
        width: 80px;
        font-size: 14px;
    }
    .shaktipeeth_card {
        width: 100%;
        margin: 0 0 20px 0;
    }
}


/* Mobile */
@media (max-width: 480px) {

    .shaktipeeth{
        flex-direction: column;
    }
    .shaktipeeth_left {
        width: 90%;
        margin: 20px auto;
    }

    .shaktipeeth_left-button {

        margin: 20px auto 10px auto;
    }

   
    .shaktipeeth-button {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        width: 100%;
       
    }
    .shaktipeeth-button button {
        width: 100%;
        margin-bottom: 10px;
        
        padding-left: 0;
        justify-content: center;
    }

 
    .shaktipeeth_container {

        height: 80vh;
        justify-content: center;

    }

   
    .shaktipeeth_card {
        width: 90%;
    }
}



/* For extra large dektops */

@media only screen and (min-width: 1824px) {


    .shaktipeeth_left-button button{

        margin: 20px 10px;
    }

  }
  